img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 10px;
  }

h1 {
    text-align: center;
    color: lightslategrey;
}

p {
    text-align : center;
    color:gray;
}

body {
    background-color: lightslategrey;
}

header{
    background-color: white;
}

ul{
    list-style-type : none;
}

a{
    color : blue;
}